{{! About us section }}
<div class='container px-5 pt-5'>
  <div class='row gx-5 mt-4 align-items-center justify-content-center'>
    <div class='col-lg-8 col-xl-7 col-xxl-6'>
      <div class='my-5 text-center text-xl-start'>
        <h3 class='display-5 fw-bolder text-black mb-2'>About Us</h3>
        <p class='lead fw-normal text-black-50 mb-4'>Welcome to Takepoint
          Dentistry, a state-of-the-art dental practice led by Dr. Whiteteeth.
          Our team of skilled professionals is dedicated to providing our
          patients with the highest quality dental care in a comfortable and
          welcoming environment.</p>
        <p class='lead fw-normal text-black-50 mb-4'>
          At Takepoint Dentistry, we understand that a visit to the dentist can
          be a stressful experience for many people. That's why we go above and
          beyond to ensure that our patients feel relaxed and at ease during
          their appointments. From our friendly and knowledgeable staff to our
          modern and comfortable facilities, we strive to create a positive
          dental experience for all of our patients.
        </p>
        <p class='lead fw-normal text-black-50 mb-4'>
          Our practice offers a wide range of dental services, including
          preventative care, restorative treatments, and cosmetic procedures.
          Whether you need a routine cleaning, a filling, or a complete smile
          makeover, our team has the expertise and experience to meet your
          needs.
        </p>
        <p class='lead fw-normal text-black-50 mb-4'>
          At Takepoint Dentistry, we believe that everyone deserves a healthy
          and beautiful smile. That's why we offer flexible payment options and
          work with our patients to develop personalized treatment plans that
          fit their unique needs and budgets.
        </p>
        <p class='lead fw-normal text-black-50 mb-4'>
          If you're looking for a dental practice that puts your comfort and
          well-being first, look no further than Takepoint Dentistry. Contact us
          today to schedule an appointment with Dr. Whiteteeth and experience
          the difference that quality dental care can make.
        </p>
        <div class='d-grid gap-3 d-sm-flex justify-content-sm-right justify-content-xl-start'>
          <a href='/appointments' class="scheduleLink p-2">Schedule today!</a>
        </div>
      </div>
    </div>
    <div class='col-xl-5 col-l-6 d-xl-block'><img
        class='img-fluid mt-4 mb-3 rounded pic1'
        src='/assets/office.png'
        alt='Dentist office'
      />
      <p class='lead fw-normal text-black-50 mb-3'>
        Experience exceptional dental care at our state-of-the-art office
        located in the heart of Minneapolis. Visit us at 123 2nd Avenue today!
      </p>
    </div>
  </div>
</div>

<br />
<br />
<br />

{{! Team section }}
<section id='team' class='team section-padding mb-5'>
  <div class='container px-5'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='section-header text-center'>
          <h1>Our team</h1>
          <p>Meet our group of exceptional dental care providers:</p>
        </div>
      </div>
    </div>
    <div class='row mb-5 mt-3 pb-5'>
      <div class='col-12 col-md-6 col-lg-3'>
        <div class='card text-center'>
          <div class='card-body'>
            <img src='./assets/dentist.png' alt='' class='img-fluid rounded-circle' />
            <h3 class='card-title py-2'>Dr. Thaddeus Whiteteeth, Dentist</h3>
            <p class='card-text'>Dr. Whiteteeth earned his Doctor of Dental
              Medicine degree from the University of Minnesota School of
              Dentistry, where he graduated with honors. He has training in
              advanced restorative and cosmetic dentistry, as well as dental
              implantology, allowing him to provide a wide range of services to
              his patients.
            </p>
            <p class='socials'>
              <i class='bi bi-twitter text-dark mx-1'></i>
              <i class='bi bi-facebook text-dark mx-1'></i>
              <i class='bi bi-linkedin text-dark mx-1'></i>
              <i class='bi bi-instagram text-dark mx-1'></i>
            </p>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6 col-lg-3'>
        <div class='card text-center'>
          <div class='card-body'>
            <img src='./assets/woman.png' alt='' class='img-fluid rounded-circle' />
            <h3 class='card-title py-2'>Dr. Laura Martinez, Dental surgeon</h3>
            <p class='card-text'>Dr. Laura Martinez graduated from the National
              College of Orthodontics in Crestview. With a focus on
              patient-centered care and a commitment to using the latest
              technologies and techniques, Dr. Martinez has built a reputation
              as a leading provider of orthodontic care in her community.
            </p>

            <p class='socials'>
              <i class='bi bi-twitter text-dark mx-1'></i>
              <i class='bi bi-facebook text-dark mx-1'></i>
              <i class='bi bi-linkedin text-dark mx-1'></i>
              <i class='bi bi-instagram text-dark mx-1'></i>
            </p>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6 col-lg-3'>
        <div class='card text-center'>
          <div class='card-body'>
            <img src='./assets/sarahSmith.png' alt='' class='img-fluid rounded-circle' />
            <h3 class='card-title py-2'>Sarah Smith, Registered dental hygienist</h3>
            <p class='card-text'>Sarah Smith has many years of experience in the
              dental industry. Sarah provides gentle and thorough cleanings,
              patient education, and personalized treatment plans to help her
              patients maintain healthy and beautiful smiles.
            </p>

            <p class='socials'>
              <i class='bi bi-twitter text-dark mx-1'></i>
              <i class='bi bi-facebook text-dark mx-1'></i>
              <i class='bi bi-linkedin text-dark mx-1'></i>
              <i class='bi bi-instagram text-dark mx-1'></i>
            </p>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6 col-lg-3'>
        <div class='card text-center'>
          <div class='card-body'>
            <img src='./assets/samJ.png' alt='' class='img-fluid rounded-circle' />
            <h3 class='card-title py-2'>Sam Johnson, Registered dental hygienist</h3>
            <p class='card-text'>Sam Johnson is a caring hygienist with a
              passion for oral health. With years of experience, he has a keen
              eye for identifying potential issues and providing effective
              solutions. His gentle yet thorough approach and friendly
              personality make him a favorite among patients.
            </p>

            <p class='socials'>
              <i class='bi bi-twitter text-dark mx-1'></i>
              <i class='bi bi-facebook text-dark mx-1'></i>
              <i class='bi bi-linkedin text-dark mx-1'></i>
              <i class='bi bi-instagram text-dark mx-1'></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>