<div class="container px-5 pt-5">
    <div class="row gx-5 mt-4 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-black mb-2">About Us</h1>
                <p class="lead fw-normal text-black-50 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Odio maxime nemo dignissimos odit dolor laboriosampossimus dolores quos repellendus.
                    Nulla iusto est doloremque dolorem aliquam, iste nam aperiam sapiente ipsum!</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-right justify-content-xl-start">
                    <a href="/login">Schedule today!</a>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-l-6 d-xl-block"><img class="img-fluid mt-4 mb-3 rounded"
                src="/assets/office.png" alt="Dentist office" />
                <p class="lead fw-normal text-black-50 mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sequi atque, 
                    eaque voluptates hic rerum obcaecati omnis non aperiam!
                </p>
        </div>
    </div>
</div>
