<div>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio maxime nemo dignissimos odit dolor laboriosam possimus dolores quos repellendus. Nulla iusto est doloremque dolorem aliquam, iste nam aperiam sapiente ipsum!</p>
    <a href="/login">Schedule today!</a>
</div>

<div>
    <img src="/assets/office.png" alt="Image of a dentist's office">
    <p>Don't forget to SMILE!</p>
</div>




