<section class="form my-4 mx-5">
  <div class="p-3 mt-5">
    <div class="container">
      <div class="row no-gutters log">
        <div class="col-lg-6 px-5 py-5">
          <h2>Sign up</h2>
          <form>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="signup-email">Email:</label>
                <input type="email" placeholder="Enter email" id="signup-email" class="form-control my-2 p-2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="signup-password">Password:</label>
                <input type="password" placeholder="********" id="signup-password" class="form-control my-2 p-2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" placeholder="********" id="confirm-password" class="form-control my-2 p-2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button type="submit" id="signup-btn" class="btn1 my-2">Sign up</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 px-5 py-5">
          <h2 class="font-weight-bold">Login</h2>
          <form>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="login-email">Email:</label>
                <input type="email" placeholder="Enter email" id="login-email" class="form-control my-2 p-2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="login-password">Password:</label>
                <input type="password" placeholder="********" id="login-password" class="form-control my-2 p-2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button type="submit" id="login-btn" class="btn1 mt-2 mb-5">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>