<div class='container'>
  <div class='p-5 mt-5 mb-2'>
    <section class='form my-4 mx-5'>
      <div class='container'>
        <div class='row no-gutters log'>
          <div class='col-lg-5 px-5 py-5'>
            <img src='./assets/profile1.png' class='img-fluid' alt='' />
          </div>
          <div class='col-lg-7'>
            <h2>My Profile</h2>
            <form>
              <div class='form-row'>
                <div class='col-lg-7'>
                  <label for="first-name">First Name:</label>
                  <input type="text" id="first-name" class="form-control my-2 p-2" value="{{first_name}}" />
                </div>
              </div>
              <div class='form-row'>
                <div class='col-lg-7'>
                  <label for="last-name">Last Name:</label>
                  <input type="text" id="last-name" class="form-control my-2 p-2" value="{{last_name}}" />
                </div>
              </div>
              <div class='form-row'>
                <div class='col-lg-7'>
                  <label for="birthdate">Birthdate:</label>
                  <input type="text" id="birthdate" class="form-control my-2 p-2" value="{{format_date birthdate}}" />
                </div>
              </div>
              <div class='form-row'>
                <div class='col-lg-7'>
                  <label for="phone-number">Phone:</label>
                  <input type="text" id="phone-number" class="form-control my-2 p-2" value="{{phone_number}}" />
                </div>
              </div>
              <a href="/profile">Click here to edit your profile</a>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>