<h2>My Profile</h2>
<div>
  <div>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" value="{{first_name}}" disabled>
  </div>
  <div>
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" value="{{last_name}}" disabled>
  </div>
  <div>
    <label for="birthdate">Birthdate:</label>
    <input type="text" id="birthdate" value="{{birthdate}}" disabled>
  </div>
  <div>
    <label for="phone-number">Phone number:</label>
    <input type="text" id="phone-number" value="{{phone_number}}" disabled>
  </div>
</div>

<a href="/profile">Click here to edit your profile</a>