/* CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 224, 224);
}

/* Login styling */
.log {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

.login {
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
}

/* button styling */
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}

.footer {
    background-color: rgb(224, 224, 224);
}


.pic {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 100%;
    height: auto;
}

.logoutLink {
    color: white;
    text-decoration: none;
}

.appLink {
    color: white;
    text-decoration: none;
}

.appLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.logoutLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.profileLink {
    color: white;
    text-decoration: none;
}

.profileLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.card {
    box-shadow: 12px 12px 12px grey;
}

.pic1 {
    box-shadow: 12px 12px 12px grey;
}

/* appointments */

.apt {
    border-radius: 30px;
}